@import 'styles/Variables';

.header {
  color: var(--color-white);
  background-color: var(--color-primary);
  background-image: url('/static/bkgd-inside-calpoly-upd.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

}


.navbarContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  // border: 1px solid red;
  flex-direction: column;

  @media (min-width: $breakpoint-small) {
    flex-direction: row;
  }

}



.navbar {
  background-color: rgb(3, 86, 66);
  padding: 1rem 0;

  .social-links {
    ul, li {margin: 0;}
    ul {
      display: flex;
    }
    li {
      list-style-type: none;
      margin: 0 .5rem;
      a {
            width: 4rem;
            height: 4rem;
            vertical-align: middle;
            color: rgb(186, 213, 201);
            transition: background-color 0.1s ease-in-out;
            padding: 1rem;
            &:hover {
              color: var(--color-white);
            }
      }
    }
  }

}

.bar {
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 3rem 0;
  gap: 2rem;
}

.logo {
  max-width: 275px;
  height: auto;
}

.nav-toggle {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 1.2rem;
  background-color: transparent;
  color: var(--color-white);
  border: 0.1rem solid var(--color-white);
  transition: color 0.3s ease, background-color 0.3s ease;

  &:hover,
  &:focus {
    background-color: var(--color-white);
    color: var(--color-primary);
  }

  @media (min-width: $breakpoint-small) {
    display: none;
  }
}

.primary-navigation {
  display: none;
  width: 100%;

  &.show {
    display: block;
  }

  @media (min-width: $breakpoint-small) {
    display: block;
    width: auto;
  }

  :global(.menu) {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    text-transform: uppercase;
    font-size: 1.4rem;
    margin: 0 0 2rem 0;

    @media (min-width: $breakpoint-small) {
      flex-direction: row;
      margin: 0;
    }

    li {
      margin: 0 0.5rem;
    }

    a {
      display: inline-flex;
      align-items: center;
      height: 100%;
      padding: 1rem;
      font-weight: 300;
      // color: var(--color-white);
      color: rgb(186, 213, 201);

      &:hover,
      &:focus {
        border: 1px solid var(--color-white);
        color: var(--color-white);
        padding: 0.9rem;
      }
    }
  }
}
