@import 'styles/Variables';

.post-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 3rem;
  row-gap: 5rem;
  margin-bottom: 6rem;
  
  @media (max-width: $breakpoint-medium) {
    grid-template-columns: repeat(1, 1fr);
  }

}

.info {
  font-size: 1.2rem;
  line-height: 1.5rem;
  margin-top: 1rem;
  span {
    color: rgb(73, 126, 107);
    margin-bottom: 0px;
    line-height: 1.5;
    font-size: 15px;
  }
  time {
    color: rgba(0, 0, 0, 0.54);
    margin-bottom: 0px;
    line-height: 1.5;
    font-size: 15px;
  }
}

.container {
  width: 100%;
  display: flex;
  // text-align: center;
  justify-content: center;
  &:nth-child(n+3) {
    grid-column: span 2;
  }
  @media (max-width: $breakpoint-medium) {
    grid-column: span 2;
  }
}

.card {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  margin-bottom: 1rem;
  padding: 0;

  a:hover,
  a:focus {
    color: var(--color-primary);
  }
}

.image {
  width: 100%;
  margin: 0;
  height: auto;
}

.image-holder {
  margin-bottom: 1rem;

  @media (min-width: $breakpoint-small) {
    // aspect-ratio: 1 / 1;
  }
}
