@import 'styles/Variables';

.footer {
  position: relative;
  background-color: var(--color-primary);
  padding: 3rem;
  margin-top: 4rem;
  color: var(--color-white);

  a {
    color: rgb(186, 213, 201);
    text-decoration: underline;

    &:hover,
    &:focus {
      color: var(--color-white);
    }
  }

  .navbarContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;

  }
}

.social-links {
  display: flex;
  justify-content: center;

  ul {
    display: inline-flex;
    list-style: none;
    margin-bottom: 0;
  }

  li {
    margin: 0;

    &:last-child {
      margin-right: 0;
    }
  }

  .social-icon-link {
    display: flex;
    width: 4rem;
    height: 4rem;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    color: rgb(186, 213, 201);
    background-color: transparent;
    transition: background-color 0.1s ease-in-out;

    .social-icon {
      color: rgb(186, 213, 201);
      vertical-align: middle;
      transition: color 0.1s ease-in-out;
    }

    &:hover,
    &:focus {
      color: var(--color-primary);
      // background-color: var(--color-white);

      .social-icon {
        color: var(--color-white);
      }
    }
  }
}

.primaryNavigationFooter {
  ul {
    display: flex;
    margin: 0;
    li {margin: 0;}
    // li::marker {color: transparent;}
    li {
      list-style: none;
      text-transform: uppercase;
      font-size: 1.4rem;
      margin: 0 .5rem;
    }
    a {
      padding: 1rem;
      text-decoration: none;
    }
  }
}



.nav {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
  margin-right: auto;
  font-size: 1.8rem;

  ul {
    display: inline-flex;
    flex-direction: column;
    text-align: center;
    list-style: none;
    padding: 0;
    margin: 0;

    @media (min-width: $breakpoint-small) {
      flex-direction: row;
    }
  }

  li {
    margin: 0;
    margin-bottom: 1rem;

    @media (min-width: $breakpoint-small) {
      margin-right: 3rem;
      margin-bottom: 0;
    }

    &:last-child {
      margin-bottom: 0;
      margin-right: 0;
    }

    a {
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.copyright {
  text-align: center;
  font-size: 1.5rem;
}
